.mainGrid {
  justify-content: center;
  display: flex;
}

.cellWidth {
  width: 100%;
}

.IconButton:hover {
  background-color: #193f76 !important;
}

.MuiInput-underline:before {
  border-bottom: 0px !important;
}

.MuiInput-underline:after {
  border-bottom: 0px !important;
}

.tableCell,
.css-1yhpg23-MuiTableCell-root {
  padding: 0 !important;
}

.appBarAdminUni {
  width: 100vw !important;
  margin: 0px !important;
  padding: 0px !important;
  display: flex;
  justify-content: center;
}

.styleTitleAdmin {
  padding-left: 10vw;
  flex-grow: 1 !important;
}

/* MEDIA QUERYS */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .tableCellTitleAdmin {
    font-size: 3.5vw !important;
    font-weight: 150px !important;
  }

  .IconButton {
    width: 20px !important;
    height: 20px !important;
  }

  .icon {
    width: 18px !important;
    height: 18px !important;
  }

  .appBarAdminUni {
    width: 100vw !important;
    margin: 0px !important;
    padding: 0px !important;
    display: flex;
  }

  .styleTitleAdmin {
    justify-content: center !important;
    display: flex !important;
    font-size: 15px !important;
  }

  .tableCellTitleAdmin {
    font-size: 2.5vw !important;
    font-weight: 100px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .tableCell {
    font-size: 1.6vw !important;
  }

  .IconButton {
    width: 27px !important;
    height: 27px !important;
  }

  .icon {
    width: 20px !important;
    height: 20px !important;
  }

  .appBarAdminUni {
    width: 100vw !important;
    margin: 0px !important;
    padding: 0px !important;
    display: flex;
  }

  .styleTitleAdmin {
    justify-content: center !important;
    display: flex !important;
    font-size: 14px !important;
  }

  .MuiGrid-grid-md-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tableCell {
    font-size: 1.3vw !important;
  }

  .IconButton {
    width: 27px !important;
    height: 20px !important;
  }

  .icon {
    width: 27px !important;
    height: 27px !important;
  }

  .appBarAdminUni {
    width: 100vw !important;
    margin: 0px !important;
    padding: 0px !important;
    display: flex;
  }

  .styleTitleAdmin {
    justify-content: center !important;
    display: flex !important;
    font-size: 15px !important;
  }

  .MuiGrid-grid-md-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .tableCell {
    font-size: 1.2vw !important;
  }

  .IconButton {
    width: 27px !important;
    height: 27px !important;
  }

  .element.style {
    justify-content: center;
    display: flex;
    font-size: 15px;
    padding-left: 700px !important;
  }

  .appBarAdminUni {
    width: 100vw !important;
    margin: 0px !important;
    padding: 0px !important;
    display: flex;
  }

  .styleTitleAdmin {
    justify-content: center !important;
    display: flex !important;
    font-size: 20px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .tableCell {
    font-size: 1vw !important;
  }

  .styleTitleAdmin {
    font-size: 37px !important;
    flex-grow: 1 !important;
    text-align: center;
  }

  .tableCellTitleAdmin {
    font-size: 1vw !important;
    font-weight: 150px !important;
  }

  .IconButton {
    display: flex;
  }
}