.tableCell,
.tableCellTitle {
  font-weight: 500 !important;
  text-align: center !important;
  padding: 20px !important;
}

.MuiInput-underline-73:before {
  height: 0px !important;
  border-bottom: 0px !important;
}

.MuiInput-underline-73:after {
  height: 0px !important;
  border-bottom: 0px !important;
}

.textField {
  border: 2px solid #04b8e2 !important;
}

.IconButton:hover {
  background-color: #04b8e2 !important;
}
.modalTitleUsuarios {
  background-color: #017a97;
  display: flex;
  justify-content: center;
}
.typpgraphyTitleUsuarios {
  font-weight: 700;
  size: 30px;
  line-height: 29.8px;
  color: #ffffff;
  display: flex !important;
  justify-content: center !important;
}

/* MEDIA QUERYS */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .tableCellTitle {
    font-size: 3.5vw !important;
  }

  .IconButton {
    width: 20px !important;
    height: 20px !important;
  }

  .icon {
    width: 15px !important;
    height: 15px !important;
  }

  .agregarUsuarioButton {
    font-size: 10px !important;
  }
  .typpgraphyTitle {
    font-weight: 700;
    size: 15px;
    line-height: 29.8px;
    color: #ffffff;
    display: flex !important;
    justify-content: center !important;
    margin-left: -55px !important;
  }
  .styleTitleUsarios {
    justify-content: center !important;
    display: flex !important;
    font-size: 20px !important;
    padding-left: 20vw !important;
    padding-right: 15vw !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .IconButton {
    width: 27px !important;
    height: 27px !important;
  }

  .icon {
    width: 20px !important;
    height: 20px !important;
  }
  .styleTitleUsarios {
    justify-content: center !important;
    display: flex !important;
    font-size: 22px !important;
    padding-left: 20vw !important;
    padding-right: 20vw !important;
  }
  .tableCellTitle {
    font-size: 3vw !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .IconButton {
    width: 27px !important;
    height: 27px !important;
  }
  .icon {
    width: 22px !important;
    height: 22px !important;
  }
  .styleTitleUsarios {
    justify-content: center !important;
    display: flex !important;
    font-size: 25px !important;
    padding-left: 25vw !important;
    padding-right: 20vw !important;
  }
  .tableCellTitle {
    font-size: 1.7vw !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .IconButton {
    width: 27px !important;
    height: 27px !important;
  }
  .styleTitleUsarios {
    justify-content: center !important;
    display: flex !important;
    font-size: 25px !important;
    padding-left: 35vw !important;
    padding-right: 20vw !important;
  }
  .tableCellTitle {
    font-size: 1.4vw !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .IconButton {
    display: flex;
  }
  .styleTitleUsarios {
    font-size: 35px !important;
    flex-grow: 1 !important;
    text-align: center;
  }
  .tableCellTitle {
    font-size: 1vw !important;
  }
}
