.search {
  position: "relative";
  border-radius: "30px";
  background-color: #0f1f39;
  margin-left: 0;
  width: "100%";
}

.personigramaCards {
  padding: 25px 30px 25px 30px;
}

.bannerPersonal {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  padding: 0;
  margin: 0;
}

.bannerPersonalSecundario {
  width: 100% !important;
  height: 20vw !important;
  object-fit: cover !important;
}

.imageContainer {
  position: relative;
}

.nombreBannerPrincipal {
  position: absolute; /* posición absolute con respecto al padre */
  top: 38%;
  left: 25%;
  text-align: center !important;
  color: white !important;
}

.personigrama {
  font-size: 3vw;
}

.unidad {
  font-size: 4vw;
  font-weight: 600;
}
.exit {
  margin-left: -300px !important;
  color: white !important;
}
.Atras {
  margin-left: 1px !important;
  padding-left: 1px !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .gridContainer {
    justify-content: center !important;
  }

  .personigrama {
    font-size: 3.5vw;

    margin-left: -50px !important;
  }

  .unidad {
    font-size: 4vw;
    font-weight: 400;

    margin-left: -60px !important;
  }

  .nombreBanner {
    position: absolute; /* posición absolute con respecto al padre */
    top: 18%;
    left: 25%;
    text-align: center !important;
    color: white !important;
  }
  .exit {
    margin-left: -90px !important;
    color: white !important;
  }
  .css-dudo9s-MuiTypography-root {
    display: block;
    margin-left: -300px !important;
  }
  .Atras {
    margin-left: 1px !important;
    padding-left: 1px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .gridContainer {
    justify-content: center !important;
  }

  .personigrama {
    font-size: 4vw;
  }

  .unidad {
    font-size: 5vw;
    font-weight: 600;
  }

  .nombreBanner {
    position: absolute; /* posición absolute con respecto al padre */
    top: 25%;
    left: 25%;
    text-align: center !important;
    color: white !important;
  }
  .Atras {
    margin-left: -200px !important;
    padding-left: 20px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .gridContainer {
    justify-content: flex-start !important;
  }

  .personigrama {
    font-size: 3vw;

    margin-left: -90px !important;
  }

  .unidad {
    font-size: 3.5vw;
    font-weight: 600;

    margin-left: -100px !important;
  }

  .nombreBanner {
    position: absolute; /* posición absolute con respecto al padre */
    top: 35%;
    left: 25%;
    text-align: center !important;
    color: white !important;
  }
  .h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: -0.05px;
    margin-left: -250px !important;
    padding-left: 0px !important;
  }
  .Atras {
    margin-left: -100px !important;
    padding-left: 40px !important;
  }
}
@media only screen and (min-width: 992px) {
  .css-dudo9s-MuiTypography-root {
    display: block;
    margin-left: -300px !important;
  }
  .Atras {
    margin-left: -200px !important;
    padding-left: 50px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .Atras {
    margin-left: -300px !important;
    padding-left: 70px !important;
  }
  .personigrama {
    font-size: 2.5vw;

    font-weight: 100;
    margin-left: -110px !important;
  }
  .unidad {
    font-size: 3vw;
    font-weight: 500;

    margin-left: -100px !important;
  }
}
