.rd3t-node,
node__branch {
  stroke-width: 1 !important;
}
.rd3t-link {
  fill: none;
  stroke: black;
  stroke-width: 1px; /* Ajusta el grosor de la línea según tus preferencias */
}
.node {
  background: #02afd8 !important;
  position: relative !important;
  width: 400px !important;
  height: 90px !important;
  border-radius: 30px !important;
  color: white !important;
  font-size: 15px !important;
}
.node:hover {
  background: #193f76 !important; /* Cambia el color del nodo */
}
.nodeParent {
  background: #193f76 !important;
  position: relative !important;
  width: 400px !important;
  height: 90px !important;
  border-radius: 30px !important;
  color: white !important;
  font-size: 15px !important;
}
.nodeParent:hover {
  background: #02afd8 !important; /* Cambia el color del nodo */
}

.name {
  font-size: 16px !important;
  padding-right: 5px !important;
}
.edit {
  position: absolute;
  top: 0;
  right: 0 !important;
  padding: 4px !important;
  color: #4ba083;
}

.attributes {
  position: absolute;
  bottom: 5px;
  right: 0 !important;
  color: white;
}

.ArrowButton {
  padding: 8px !important;
}
