@supports (-webkit-zoom: 1) {
  body {
    zoom: 0.8; /* Establece el nivel de zoom para Safari */
  }
}

.rd3t-node,
node__branch {
  stroke-width: 1 !important;
}

.rd3t-link {
  fill: none;
  stroke: gray !important;
  stroke-width: 3px !important;
  /* Ajusta el grosor de la línea según tus preferencias */
}

.nodePosition {
  position: fixed !important;
}

.node {
  background: #02afd8 !important;
  color: black !important;
  width: 400px !important;
  height: 90px !important;
  border-radius: 30px !important;
  color: black !important;
  font-size: 15px !important;
  font-weight: 200 !important;
}

.node:hover {
  background: #193f76 !important;
  /* Cambia el color del nodo */
  color: white !important;

  background: #193f76 !important;
  /* Cambia el color del nodo */
  color: white !important;
}

.nodeParent {
  background: #193f76 !important;
  position: fixed;
  width: 400px !important;
  height: 90px !important;
  border-radius: 30px !important;
  color: white !important;
  font-size: 15px !important;
  font-weight: 300 !important;
  transform-origin: 0px 0px;
}

.nodeParent:hover {
  background: #02afd8 !important;
  color: black !important;

  /* Cambia el color del nodo */
  background: #02afd8 !important;
  /* Cambia el color del nodo */
  color: black !important;
}

.name {
  font-size: 16px !important;
  padding-right: 5px !important;
}

.edit {
  padding-top: 10px !important;
  color: white !important;
}

.faUsers {
  color: black !important;
  margin-top: 10px !important;
  margin-left: -10px !important;
}

.attributes {
  position: absolute;
  bottom: 5px;
  right: 0 !important;
  color: white;
}

.ArrowButton {
  padding: 8px !important;
}

.botonDependencias {
  padding-left: 8px !important;
}
