.MuiInput-underline-73:before {
  height: 0px !important;
  border-bottom: 0px !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  display: none !important;
}

.MuiInput-underline-73:after {
  height: 0px !important;
  border-bottom: 0px !important;
}
.typpgraphyTitleFuncionario {
  font-weight: 700;
  size: 30px;
  line-height: 29.8px;
  color: #ffffff;
  display: flex !important;
  justify-content: center !important;
}
.modalTitleFuncionarios {
  background-color: #017a97;
  display: flex;
  justify-content: center;
}
.appBarFuncionarios {
  margin: 0px !important;
  padding: 0px !important;
  display: flex;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .styleTitleFuncio {
    justify-content: center !important;
    display: flex !important;
    font-size: 20px !important;
    padding-left: 15vw !important;
    padding-right: 20vw !important;
  }
  .tablaFuncionarios {
    display: table !important;
    width: 100% !important;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    width: 350px !important;
    min-width: 200px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .tablaFuncionarios {
    display: table !important;
    width: 100% !important;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    width: 350px !important;
    min-width: 200px !important;
  }
  .styleTitleFuncio {
    justify-content: center !important;
    display: flex !important;
    font-size: 25px !important;
    padding-left: 15vw !important;
    padding-right: 15vw !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tablaFuncionarios {
    display: table !important;
    width: 100% !important;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    width: 350px !important;
    min-width: 200px !important;
  }
  .styleTitleFuncio {
    justify-content: center !important;
    display: flex !important;
    font-size: 25px !important;
    padding-left: 20vw !important;
    padding-right: 20vw !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .tablaFuncionarios {
    display: table !important;
    width: 100% !important;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    width: 380px !important;
    min-width: 200px !important;
  }
  .styleTitleFuncio {
    justify-content: center !important;
    display: flex !important;
    font-size: 25px !important;
    padding-left: 30vw !important;
    padding-right: 20vw !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .tablaFuncionarios {
    display: table !important;
    width: 100% !important;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    width: 380px !important;
    min-width: 200px !important;
  }
  .styleTitleFuncio {
    font-size: 37px !important;
    flex-grow: 1 !important;
    text-align: center;
  }
}
