.buttonDialogContainer {
  display: grid;
  place-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.buttonDialog {
  background-color: #193f76 !important;
  color: white !important;
}

.titlesActualizarSeccion {
  color: #193f76 !important;
  font-weight: 500;
}

.gridContainerDialog {
  padding: 0px 20px;
}

.lisItem {
  padding-top: 10px;
  width: 429px;
}

.modalTitleSecciones {
  background-color: #04b8e2;
  display: flex;
  justify-content: center;
}

.typpgraphyTitleSeccion {
  font-weight: 700;
  size: 30px;
  line-height: 29.8px;
  color: #ffffff;
  display: flex !important;
  justify-content: center !important;
}

.tableContainer {
  display: flex !important;
  justify-content: flex-start !important;
}

.textFieldUpdate {
  border: 2px solid #61dafb !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .styleTitleSecc {
    justify-content: center !important;
    display: flex !important;
    font-size: 20px !important;
    padding-left: 20vw !important;
    padding-right: 20vw !important;
  }

  .lisItem {
    padding-top: 10px;
    width: 429px;
  }

  .tablaSecciones {
    display: table !important;
    width: 100% !important;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    width: 350px !important;
    min-width: 200px !important;
  }

  .typpgraphyTitleSeccion {
    font-weight: 700;
    size: 25px;
    line-height: 29.8px;
    color: #ffffff;
    display: flex !important;
    justify-content: center !important;
  }

  .autocomplete {
    width: 65vw !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .styleTitleSecc {
    justify-content: center !important;
    display: flex !important;
    font-size: 25px !important;
    padding-left: 25vw !important;
    padding-right: 20vw !important;
  }

  .lisItem {
    padding-top: 10px;
    width: 250px;
  }

  .autocomplete {
    width: 45vw !important;
  }

  .gridContainerDialog {
    width: 400px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .styleTitleSecc {
    display: flex !important;
    justify-content: center !important;
    font-size: 22px !important;
    padding-right: 25vw !important;
  }

  .dialog {
    width: 450px !important;
  }

  .autocomplete {
    width: 40vw !important;
  }

  .gridContainerDialog {
    width: 450px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .styleTitleSecc {
    justify-content: center !important;
    display: flex !important;
    font-size: 25px !important;
    padding-left: 35vw !important;
    padding-right: 20vw !important;
  }

  .autocomplete {
    width: 35vw !important;
  }

  .gridContainerDialog {
    width: 520px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .styleTitleSecc {
    justify-content: center !important;
    display: flex !important;
    font-size: 35px !important;
    padding-left: 30vw !important;
    padding-right: 20vw !important;
  }

  .autocomplete {
    width: 25vw !important;
  }

  .lisItem {
    padding-top: 10px;
    width: 429px;
  }

  .tablaVerFuncionarios {
    width: 25vw !important;
  }

  .gridContainerDialog {
    width: 550px !important;
  }
}