.buttonDialogContainer {
  display: grid;
  place-content: center;
  padding-bottom: 20px;
}

.buttonDialog {
  background-color: #193f76 !important;
  color: white !important;
}

.gridContainerDialog {
  padding: 20px;
}

.styleTitle {
  justify-content: center !important;
  display: flex !important;
  font: Lato !important;
  font-size: 38px !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .styleTitle {
    justify-content: center !important;
    display: flex !important;
    font: Lato !important;
    font-size: 20px !important;
  }
  .css-hyum1k-MuiToolbar-root {
    padding-left: 100px !important;
    padding-right: 10px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .styleTitle {
    justify-content: center !important;
    display: flex !important;
    font: Lato !important;
    font-size: 25px !important;
  }
  .css-hyum1k-MuiToolbar-root {
    padding-left: 310px !important;
    padding-right: 10px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .styleTitle {
    justify-content: center !important;
    display: flex !important;
    font: Lato !important;
    font-size: 30px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .styleTitle {
    justify-content: center !important;
    display: flex !important;
    font: Lato !important;
    font-size: 38px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .styleTitle {
    justify-content: center !important;
    display: flex !important;
    font: Lato !important;
    font-size: 38px !important;
  }
  
}
