.inputIcon {
  background-color: #04b8e2 !important;
  color: white !important;
}

.MuiInput-underline:before {
  border-bottom: 0px !important;
}

.MuiInput-underline:after {
  border-bottom: 0px !important;
}
.logoImage {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  height: 100px;
}
.personigrama {
  color: #ffff;
  font-weight: 400;
  size: 20px;
  line-height: 30px;
  letter-spacing: 0.21cm;
  display: flex;
  justify-content: center;
}
.unibague {
  color: #ffff;
  font-weight: 900;
  font-size: 45px;
  line-height: 57.6px;
  display: flex;
  justify-content: center;
}

/* Extra small devices (Logo)(phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logoImage {
    width: 60vw !important;
    height: 30vw;
  }
}
/* Small devices (Logo)(portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .logoImage {
    width: 35vw !important;
    height: 15vw
  }
}

/* Medium devices (Logo)(landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logoImage {
    width: 35vw !important;
    height: 15vw
  
  }
}

/* Large devices (Logo)(laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logoImage {
    width: 35vw !important;
    height: 12vw;
  }
}

/* Extra large devices (Logo)(large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logoImage {
    width: 35vw !important;
    height: 12vw !important;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .textField {
    width: 70vw !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .textField {
    width: 45vw !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .textField {
    width: 45vw !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .textField {
    width: 35vw !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .textField {
    width: 35vw !important;
  }
}
